.login-container {
    -fx-padding: 20px;
}

.welcome-label {
	-fx-font-size: 32px;
}

.login-form {
    -fx-spacing: 10px;
}

.login-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-spacing: 5px;
}

.login-field {
    -fx-pref-width: 250px;
    -fx-padding: 8px;
    -fx-border-radius: 5px;
    -fx-border-color: #ddd;
 	-fx-spacing: 5px;
}

.login-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-min-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-max-width: Infinity;
}

.login-button:hover {
    -fx-background-color: red; 
}
